#container {
    text-align: center;
}

.wins {
background-color: lightgreen;
}

.losses {
background-color: lightsalmon;
}

.guessesLeft {
background-color: lightcyan;
}

.yourGuessesSoFar {
background-color: lightseagreen;
}