#container {
    text-align: center;
}
.display-4 {
    font-family: 'Modak', cursive;
}

.wins {
background-color: lightgreen;
}

.losses {
background-color: lightsalmon;
}

.guessesLeft {
background-color: lightcyan;
}

.yourGuessesSoFar {
background-color: lightseagreen;
}