#container {
text-align: center;
}

#display-4 {
font-family: 'Modak', cursive;
background-color: lightgreen;
}

#wins-text {
background-color: lightgreen;
}

#losses-text {
background-color: lightsalmon;
}

#guessesLeft-text {
background-color: lightcyan;
}

#yourGuessesSoFar-text {
background-color: lightseagreen;
}

#display-5 {
font-family: 'Modak', cursive;
background-color: lightseagreen;
}